/* Variables */
:root {
	--font-color-light: #f1f1f1;
	--font-color-dark: #1f1f1f;
	--font-color-emphasis: #bca0fc;
	--font-color-lightgray: #555;
}

/* Main Styling */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-size: 10px;
}

html,
body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

/* Utility classes */
.container {
	max-width: 1200px;
	padding: 0 20px;
	margin: auto;
}

/* Flexbox */
.flex-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.flex-row-img {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
}

.flex-column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.flex-item {
	flex: 1;
}

.flex-width-100 {
	width: 100%;
}

.flex-height-100 {
	height: 100%;
}

/* Headings */
.heading-1 {
	font-size: 4rem;
	letter-spacing: 2px;
	line-height: 1em;
	padding: 20px;
}

.heading-2 {
	font-size: 2.75rem;
	line-height: 1em;
	font-weight: bolder;
	padding: 20px;
}

.heading-3 {
	font-size: 2rem;
	line-height: 1em;
	font-weight: bolder;
	padding: 20px;
}

/* Paragraphs */
.p-1 {
	font-size: 1.75rem;
	padding: 40px;
	line-height: 1.5em;
}

.p-2 {
	font-size: 1.6rem;
	padding: 40px;
	line-height: 1.25em;
}

/* Backgrounds */
.bg-dark {
	background: var(--font-color-dark);
	color: var(--font-color-light);
}

.bg-light {
	background: var(--font-color-light);
	color: var(--font-color-dark);
}

.bg-lightgray {
	background: var(--font-color-lightgray);
	color: var(--font-color-light);
}

/* Buttons */
.btn-dark {
	display: inline-block;
	margin: 20px;
	padding: 20px;
	background: var(--font-color-dark);
	color: var(--font-color-light);
	font-size: 2rem;
	font-weight: bolder;
	border-radius: 10px;
	transition: all 0.4s ease-in-out;
}

.btn-dark:hover {
	background: var(--font-color-emphasis);
	color: var(--font-color-dark);
	border-radius: 0;
}

.btn-light {
	display: inline-block;
	margin: 20px;
	padding: 20px;
	background: var(--font-color-light);
	color: var(--font-color-dark);
	font-size: 2rem;
	font-weight: bolder;
	border-radius: 10px;
	transition: all 0.4s ease-in-out;
}

.btn-light:hover {
	background: var(--font-color-emphasis);
	color: var(--font-color-light);
	border-radius: 0;
}

.btn-emphasis {
	display: inline-block;
	margin: 20px;
	padding: 20px;
	background: var(--font-color-emphasis);
	color: var(--font-color-dark);
	font-size: 2rem;
	font-weight: bolder;
	border-radius: 10px;
	transition: all 0.4s ease-in-out;
}

.btn-emphasis:hover {
	background: var(--font-color-light);
	color: var(--font-color-emphasis);
	border-radius: 0;
}

span {
	color: var(--font-color-emphasis);
	font-size: inherit;
}

/*  */
/* Navbar */
/*  */
#navbar {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2;
}

#navbar .dropdown-menu.flex-row-img {
	justify-content: space-between;
}

#navbar .logo {
	margin: 5px 0;
}

#navbar .logo a {
	font-size: 2.25rem;
	padding: 0 20px;
	color: var(--font-color-light);
	transition: all 0.4s ease-in-out;
}

#navbar .logo a:hover {
	color: var(--font-color-emphasis);
}

#navbar ul li {
	margin: 0 5px;
}

#navbar ul li a {
	font-size: 1.5rem;
	padding: 5px 10px;
	color: var(--font-color-light);
	transition: all 0.4s ease-in-out;
}

#navbar ul li a:hover,
#navbar ul li a.current {
	border-radius: 10px;
	border-bottom: 2px solid var(--font-color-emphasis);
	border-top: 2px solid var(--font-color-emphasis);
}

#navbar input {
	display: none;
}

/* Head Showcase */
#head-wrapper {
	height: 100vh;
	background: url(../img/squash.jpg) no-repeat center center/cover;
	color: var(--font-color-light);
}

#head-wrapper::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	background-color: rgba(31, 31, 31, 0.4);
}

#head-wrapper .flex-column {
	position: relative;
	z-index: 1;
}

/*  */
/* Home Info Section */
/*  */
.home-info-content {
	padding: 75px 50px;
	margin: 10px 5px;
	order: 2;
	border-right: 1px solid var(--font-color-emphasis);
	border-left: 1px solid var(--font-color-emphasis);
	border-radius: 50%;
	min-height: 500px;
}

.home-info-img-1 {
	background: url(../img/home-info.jpg) no-repeat center bottom/cover;
	margin: 10px 5px;
	border-radius: 50%;
	order: 1;
	border-right: 1px solid var(--font-color-emphasis);
	border-left: 1px solid var(--font-color-emphasis);
}

.home-info-img-2 {
	background: url(../img/home-info-2.jpg) no-repeat center top/cover;
	margin: 10px 5px;
	border-radius: 50%;
	order: 3;
	border-right: 1px solid var(--font-color-emphasis);
	border-left: 1px solid var(--font-color-emphasis);
}

/*  */
/* Home features */
/*  */
#home-features > div {
	color: var(--font-color-dark);
	padding: 50px 25px;
}

#home-features i {
	font-size: 4rem;
}

#home-features .bg-lightgray i,
#home-features .bg-lightgray .heading-2,
#home-features .bg-lightgray .p-2 {
	color: var(--font-color-light);
}

/*  */
/* Footer */
/*  */
#home-footer {
	text-align: center;
	padding: 20px;
	color: var(--font-color-light);
}

#home-footer p {
	font-size: 1.5rem;
}

/*  */
/* About Page */
/*  */
#about-info > .flex-row-img > div {
	margin: 90px 10px 50px;
}

.about-img img {
	width: 100%;
	object-fit: cover;
	border-radius: 50%;
	border-right: 1px solid var(--font-color-emphasis);
	border-left: 1px solid var(--font-color-emphasis);
}

.about-content {
	border-radius: 50%;
	border-right: 1px solid var(--font-color-emphasis);
	border-left: 1px solid var(--font-color-emphasis);
}

/* Testimonials */
#about-reviews {
	background: url(../img/about-reviews.jpg) center center/cover;
	width: 100%;
	position: relative;
}

#about-reviews:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(31, 31, 31, 0.6);
	z-index: 0;
}

#about-reviews .content {
	text-align: center;
	margin: 40px 0;
	position: relative;
	color: var(--font-color-light);
}

#about-reviews .container {
	position: relative;
}

#about-reviews .review > div:last-child {
	flex: 3;
	position: relative;
}

#about-reviews .review > div:first-child {
	padding: 10px;
}

#about-reviews .review {
	margin: 20px 10px;
	background-color: rgba(241, 241, 241, 0.7);
	border-radius: 10px;
}

#about-reviews .review img {
	width: 100%;
	border-radius: 50%;
	border-right: 1px solid var(--font-color-emphasis);
	border-left: 1px solid var(--font-color-emphasis);
	opacity: 0.75;
}

#about-reviews .review span {
	position: absolute;
	bottom: 10px;
	left: 50px;
	color: var(--font-color-dark);
	font-size: 1.75rem;
	font-weight: bolder;
}

#about-reviews .review:last-child {
	margin-bottom: 50px;
}

/*  */
/* Contact Page */
/*  */
#contact-form {
	background-color: var(--font-color-light);
}

#contact-form .container > div:first-child {
	margin: 0 10px;
	padding: 60px 0 0;
}

#contact-form .heading-2 {
	padding: 20px 40px;
}

#contact-form .p-2 {
	padding: 0px 40px;
}

.input label {
	display: block;
	font-size: 1.75rem;
	padding: 10px 0;
}

#contact-form form {
	margin: 0 10px;
	padding: 10px 0 50px;
}

#contact-form .input {
	width: 50%;
	padding: 10px 30px;
	font-size: 1.5rem;
	resize: none;
}

#contact-form .input:nth-child(3) {
	width: 100%;
}

#contact-form .input:last-child {
	width: auto;
}

#contact-form input,
#contact-form textarea {
	width: 100%;
	padding: 10px;
	font-size: 1.5rem;
	resize: none;
	border: 1px solid var(--font-color-dark);
	border-radius: 10px;
	transition: all 0.4s ease-in-out;
}

#contact-form input:focus,
#contact-form textarea:focus {
	border: 1px solid var(--font-color-emphasis);
	border-radius: 0;
}

#contact-form button {
	border: none;
	margin: 20px 0;
}

/* Contact features */
#contact-features {
	background-color: var(--font-color-lightgray);
}

#contact-features i {
	font-size: 4rem;
	padding: 20px 0;
}

#contact-features .flex-row-img > div {
	margin: 5px;
	min-height: 400px;
	border-radius: 50%;
	border-right: 1px solid var(--font-color-emphasis);
	border-left: 1px solid var(--font-color-emphasis);
}

/*  */
